.main-content {
	padding-top: 100px;
}

.box {
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
	.box {
		padding: 50px;
	}
}

.align-center {
	align-items: center;
}

.image-block {
	position: relative;
}

.image-block .image-image {
	position: relative;
	margin-top: 30px;
}

@media (min-width: 768px) {
	.image-block .image-image {
		width: 75%;
		margin: 0 auto;
	}
}

.image-block .image-image .img-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #009cd5, #0069b9);
	opacity: 0.9;
	border-radius: 10px;
}

.image-block .image-image img {
	height: 400px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.1);
}