<div class="container">
    <app-header></app-header>
    <div class="main-content">
		<div>
			<div class="box">
				<div class="row align-center">
					<div class="col-md-6">
                        <div class="image-block">
							<div class="image-image">
								<img src={{imageurl}} alt="image">
							</div>
						</div>
					</div>
					<div class="col-md-5 offset-md-1">
                        <b>User Email : </b> 
						<p class="uppercase mb-1">{{imageemail}}</p>
                        <br>
                        <b>Image Name : </b>
						<h1 class="display-4 font-weight-bold">{{imagename}}</h1>
                        <br>
                        <b>Image Details</b>
						<p class="text-muted"> {{imagedet}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>